/* Basic Themify Icons Fallback */
/* This is a minimal fallback - the full themify-icons requires font files */

@font-face {
    font-family: 'themify';
    src: url('../fonts/themify.eot');
    src: url('../fonts/themify.eot?#iefix') format('embedded-opentype'),
         url('../fonts/themify.woff') format('woff'),
         url('../fonts/themify.ttf') format('truetype'),
         url('../fonts/themify.svg#themify') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ti-"], [class*=" ti-"] {
    font-family: 'themify' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Basic icon placeholders - these won't show actual icons without the font files */
.ti-arrow-up:before { content: "\e600"; }
.ti-arrow-right:before { content: "\e601"; }
.ti-arrow-left:before { content: "\e602"; }
.ti-arrow-down:before { content: "\e603"; }
.ti-arrows-vertical:before { content: "\e604"; }
.ti-arrows-horizontal:before { content: "\e605"; }
.ti-angle-up:before { content: "\e606"; }
.ti-angle-right:before { content: "\e607"; }
.ti-angle-left:before { content: "\e608"; }
.ti-angle-down:before { content: "\e609"; }
.ti-angle-double-up:before { content: "\e60a"; }
.ti-angle-double-right:before { content: "\e60b"; }
.ti-angle-double-left:before { content: "\e60c"; }
.ti-angle-double-down:before { content: "\e60d"; }
.ti-move:before { content: "\e60e"; }
.ti-fullscreen:before { content: "\e60f"; }
.ti-arrow-top-right:before { content: "\e610"; }
.ti-arrow-top-left:before { content: "\e611"; }
.ti-arrow-circle-up:before { content: "\e612"; }
.ti-arrow-circle-right:before { content: "\e613"; }
.ti-arrow-circle-left:before { content: "\e614"; }
.ti-arrow-circle-down:before { content: "\e615"; }
.ti-arrows-corner:before { content: "\e616"; }
.ti-split-v:before { content: "\e617"; }
.ti-split-h:before { content: "\e618"; }
.ti-hand-point-up:before { content: "\e619"; }
.ti-hand-point-right:before { content: "\e61a"; }
.ti-hand-point-left:before { content: "\e61b"; }
.ti-hand-point-down:before { content: "\e61c"; }
.ti-back-right:before { content: "\e61d"; }
.ti-back-left:before { content: "\e61e"; }
.ti-exchange-vertical:before { content: "\e61f"; }