<!DOCTYPE html>    
    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="index.html"><b>Community Connect</b></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="cte.html">How it Works</a></li>
                                <li class="nav-item"><a class="nav-link" href="upcoming-events.html">Upcoming Events</a></li>
                                <li class="nav-item"><a class="nav-link" href="impact.html">Impact</a></li>
                                <li class="nav-item"><a class="nav-link" href="eventfinder.html">Resources</a></li>
                                <li class="nav-item"><a class="nav-link" href="about.html">Submit</a></li>
                                <li class="nav-item"><a class="nav-link" href="documentation.html">Documentation</a></li>
                                <li class="nav-item">
                                    <button id="darkModeToggle" class="dark-mode-toggle" aria-label="Toggle dark mode">
                                        <i class="fas fa-sun icon-sun"></i>
                                        <i class="fas fa-moon icon-moon"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</DOCTYPE>